@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
}
i{
    cursor: pointer;
}
input::-webkit-search-cancel-button {
    display: none;
}

a {
    color: white;
}

select:focus,
input:focus {
    outline: none;
}

/* =============== Header Section =============== */

header {
    position: relative;
    top: 0;
    padding: 1rem 0;
    padding-left: 3rem;
    font-size: 25px;
    font-weight: 600;
    background: #F3F3F1;
}

/* =============== Header buttons Section =============== */

header>.Header-BtnRight {
    background-color: white;
    padding-right: .3rem;
    background: #F3F3F1;
    cursor: pointer;
}

header>.Header-BtnRight i {
    font-size: 20px;
}

header .Header-BtnLeft {
    background-color: white;
    padding-left: .3rem;
    background: #F3F3F1;
    cursor: pointer;
}

/* =============== Header input Section =============== */

header input {
    border-bottom: 1px solid black;
    padding-right: 1rem;
    font-size: 15px;
    background: #F3F3F1;
}

header input::-webkit-search-cancel-button {
    display: none;
}


/* =============== CountryOfInterest &  Edit Transaction  Section =============== */

.TableauDeTri {
    padding: 1rem 3rem;
    font-size: 18px;
    font-weight: 400;
}

.trait {
    height: 1px;
    background-color: black;
    margin: 1rem 0;

}

.block1 {
    margin: 1rem 0;
}

.block1 p {
    font-size: 15px;
}

.block1 select {
    -webkit-appearance: none;
    appearance: none;
}

.block1 select::-ms-expand {
    display: none;
}


/* =============== Search-Filter-ExportAs  Section =============== */

.Search-Filter-ExportAs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Left {
    display: flex;
    align-items: center;
    width: 254px;
    height: 32px;
    gap: 2px;

    /* White */

    background: #FFFFFF;
    border: 1px solid #80807D;
    border-radius: 4px;
}
/* =============== Search-Filter-ExportAs/Left part  Section =============== */
.Left .trait {
    height: 15px;
    width: 1px;
    margin: 0 .3rem;
    cursor: pointer;
}

.Left div {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.Left button {
    background-color: white;
    padding: 0 .2rem;
    font-size: 10px;
    cursor: pointer;
}
/* =============== Search-Filter-ExportAs/ right part  Section =============== */
.Right {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: .2rem 0;
    cursor: pointer;
}

.Right>div {
    margin: 0 .3rem;
    height: 32px;
    width: 150px;
    padding: .25em 0.2rem;
    background: #F3F3F1;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.Right>div label{
    cursor: pointer;
}
.Right>div label i{
    margin: 0 .2rem;
}

.Right>div>i {
    transform: rotate();
    transition: .5s;
}

.Right>.items:hover>i {
    rotate: 180deg;
}

.Right select {
    background: #F3F3F1;
    cursor: pointer;
}
.Calender{
    width: 200px;
}
.Calender span {
    color: #80807D;
    cursor: pointer;
    font-size: 12px;
}
/* =================mise en forme des filtres Right part  =================*/
.sous-liste {
    position: relative;
    top: 5px;
    display: none;
}

.items-sous-liste {
    text-align: center;
    padding: 0 1rem;
    border-bottom: 0.5px solid rgb(216, 213, 213);
    background-color: #FFFFFF;
}

.items-sous-liste:hover {
    background: rgb(231, 227, 227);
}

.items:hover >ul {
    display: block;
    align-items: center;
}

#items1 {
    width: 150px;
}

#items1>i {
    position: relative;
    top: 0;
    left: 3.7rem;
}

#items2>i{
    position: relative;
    top: 0;
    left: 1.5rem;
}
.items input{
    display: none;
}
/* =============== Tableau d'affichage  Section =============== */
.AffichageTri{/* section portant le tableau entier*/
    border: 1px solid #F3F3F1;
    margin:2rem 0;
}
/* =============== table  Section =============== */
table {
    width: 100%;
    margin:1rem 0;

    font-size: 15px;
    border-collapse: collapse;
}
table button{
    background: none;
}
td, th{
    text-align: center;
    padding: .5rem;
}

td i{
    margin: 0 1rem;
}
.Resultat{/* <tr> en font gris*/
    background: #F3F3F1;
}
#Active{
    color: #008F50;
}
#Error{
    color: red;
}
#eyeNoSlash {
    font-weight: 400;
}
/* =================Footer section =================*/
footer {
    position: relative;
    top: 30px;
    padding: 0 3rem;
}

footer .trait{
    margin-bottom: -2rem;
}

#footer-button1 {
    align-items: center;
    padding: 11px 16px;
    gap: 10px;
    background: #FF8514;
    /* Button Shadow */

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#footer-button2 {
    background: #F3F3F1;
    /* Button Shadow */

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    align-items: center;
    padding: 11px 16px;
    gap: 10px;
}

#footer-button3 {
    align-items: center;
    padding: 11px 16px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 4px;
}

footer button {
    margin: 3rem .3rem;
    cursor: pointer;
}


#row:hover {
    background: #CAECFF;
}

#row:active {
    background: #99DBFF;
}



/* Sous Liste */